{%extends "base.html"%}
{%block title %} Embedded Firmware {%endblock title%}
{%block body%}
<div class="class text-center py-3">
    <h2>Embedded Firmware System</h2>
</div>
<div class="container py-3">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block w-100" src="https://source.unsplash.com/800x300/?html,microprocessor"
                    alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="..." alt="Third slide">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only"></span>
        </a>
    </div>
</div>
<div class="container my-4 text-center">
    <h2 class="text-center my-4">
        <li>Embedded Firmware Applications</li>
    </h2>
    <div class="row">
        <div class="col md4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?employee" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Design a Custom Microcontroller Programming and Testing Board</h5>
                    <p class="card-text">microcontroller looks the same as a nonfunctional one (or an empty IC package,
                        for that matter). This is why your board needs circuitry that allows you to confirm that the MCU
                        is actually powered and properly executing code. The classic solution here is an LED or two;
                        this type of visual feedback is limited but adequate in many cases. </p>
                    <a href="/embeddedHardware" class="btn btn-primary text-center">See More</a>
                </div>
            </div>
        </div>
        <div class="col md4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?code,html,Java" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">High-Speed Waveform Generation with an MCU and a DAC</h5>
                    <p class="card-text">Our goal in this project is to determine the maximum rate at which we can
                        update the DAC output. This information then leads us to considerations regarding the highest
                        obtainable waveform frequency. The maximum frequency of the system is by no means amazing when
                        compared to the capabilities of high-performance digital synthesis systems.</p>
                    <a href="/embeddedHardware" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col md4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?javascript" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">IT ESP-12F Programming</h5>
                    <p class="card-text">I’ve been designing around the “ESP-12E” or “ESP-12F”, which has 4MB of flash,
                        an onboard antenna, and the majority of the GPIO pins available around the edge. The signature
                        of these modules is the tin RF shield with the “AI” stamp on the front. The main difference
                        between the “E” and “F” is that third row of pins at the bottom which, actually, you’re never
                        going to use. Also, the shape of the antenna differs slightly.</p>
                    <a href="/embeddedHardware" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
        <div class="col md4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?linx,web,chip" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">High-Speed Waveform MCU and a DAC</h5>
                    <p class="card-text">Our goal in this project is to determine the maximum rate at which we can
                        update the DAC output. This information then leads us to considerations regarding the highest
                        obtainable waveform frequency. The maximum frequency of the system is by no means amazing when
                        compared to the capabilities of high-performance digital synthesis, but in our opinion it should
                        easy to use.</p>
                    <a href="/embeddedHardware" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock body%}