{%extends "base.html"%}
{%block title %} Java {%endblock title%}
{%block projectactive %}active{%endblock projectactive%}
{%block body%}
<div class="container my-3">
    <h2 class="text-center my-3">Our Java Projects</h2>
    <div class="row">
        <div class="col md4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?employee" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Internet Marketing (SEO,SMO,SEM)</h5>
                    <p class="card-text">Our internet marketing strategy and consultancy services including Search
                        Engine Optimization (SEO), Search Engine Marketing (SEM), Social Media Optimization (SMO),
                        Social Media Marketing (SMM), Pay-Per-Click (PPC), local SEO, Mobile SEO, email marketing,
                        affiliate marketing, web analytics, reputation management, content marketing, digital
                        marketing, social media marketing, and more.Our human resource services include recruitment,
                        data management, payroll, and workforce administration. We provide proven expertise in Human
                        Resource Generalist.VE offers a large portfolio of services and so you can showcase your skillsets, expertise,global exposure, and experience.</p>
                    
                </div>
            </div>
        </div>
        <div class="col md4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?it,html,Java" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">IT – Software, Hardware & Networking</h5>
                    <p class="card-text">Virtual Employee (P) Ltd provides extensive IT expertise to businesses
                        across the globe in software programming and development in PHP, JAVA, Python, C++, DotNet,
                        Flex, VB.NET, as also App Development, and Custom Software Development; in web development
                        services including website development, and in HTML, AJAX, ASP.NET, J2EE, ASP etc; in CMS
                        development in Drupal, Joomla, WordPress, Magento, DotNetNuke, Typo3, ExpressionEngine,
                        TYPOlight etc; in database development and administration; IT server administration and
                        management; software upgrades, maintenance, and testing; eCommerce website designing,
                        graphics designing, and more.</p>
                    
                </div>
            </div>
        </div>
        <div class="col md4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?Design,javascript" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Graphic Design and Animation</h5>
                    <p class="card-text">Our graphic design and multimedia services portfolio includes 2D and 3D
                        animation, 3D prototype and modeling, flash animation, animation storyboarding, animated
                        illustrations, product animation, computer animation, and web animation. We offer exhaustive
                        animation services for diverse industries including games and movies, medical, eLearning,
                        architecture, and science and engineering animation and simulation.

                        Our animation applications include Flash MX, Illustrator, Photoshop, Maya, LigthWave 3D,
                        Dreamweaver, 3ds Max, Houdini, and Indesign etc. along with development software such as
                        PHP, JAVA, XML, .NET, Dreamweaver, HTML, Action Script, Macromedia etc.</p>
                    

                </div>
            </div>
        </div>
    </div>
</div>
{%endblock body%}