{%extends "base.html"%}
{%block title %}python{%endblock title%}
{%block aboutactive %}active{%endblock aboutactive%}
{%block body%}
<div class="container my-3">
    <h2 class="text-center my-3">Python Projects</h2>
    <div class="row">
        <div class="col md4">
            <div class="card" style="width: 18rem;">
                <img src="https://www.virtualemployee.co.in/photos/1/pages/company-profile.jpg" class="card-img-top"
                    alt="...">
                <div class="card-body">
                    <h5 class="card-title">COMPANY PROFILE</h5>
                    <p class="card-text">Virtual Employee (P) Ltd was conceived and established in 2007 by Mr.
                        Narinder Singh Mahil, a second-generation US-based senior IT professional, to showcase the
                        highly skilled Indian professionals through a global staffing platform based in India.
                        Today, his dream has turned into a 1500+ strong company—ISO 9001 & 27001 certified and
                        NASSCOM-affiliated—with a global client base across five continents and a comprehensive
                        range of services in IT and non-IT domains across multiple industries.</p>
                    <a href="/blog" class="btn btn-primary">See Blog</a>
                </div>
            </div>
        </div>
        <div class="col md4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?code,html,Java" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Management Team</h5>
                    <p class="card-text">Virtual Employee (P) Ltd has moved from strength-to-strength under the able
                        guidance of Mr. Prem Sagar, Director, Mr. Narinder Singh Mahil, the Chairman, and Mr.
                        Shaunvir Singh Mahil, the Managing Director—its founding members. The management team
                        includes Mr. Ashu Mishra, VP, Client Engagement and Mr. Eshan Labroo, VP, Operations.
                        Our present employee strength of 1500+ and an increasing global clientele have kept us on a fast
                        growth track.</p>
                    <a href="/blog" class="btn btn-primary">See Blog</a>
                </div>
            </div>
        </div>
        <div class="col md4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?office usa" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Company Headquarters</h5>
                    <p class="card-text">Headquartered in the prestigious Special Economic Zone (SEZ) of NOIDA, it
                        has four well-established offices in the Delhi NCR area along with a UK office in the
                        bustling commercial hub of Central Birmingham to ensure easy management of our UK clients.
                        Our animation applications include Flash MX, Illustrator, Photoshop, Maya, LigthWave 3D,
                        Dreamweaver, 3ds Max, Houdini, and Indesign etc. along with development software such as
                        PHP, JAVA, XML etc.</p>
                    <a href="/blog" class="btn btn-primary">See Blog</a>
                </div>
            </div>
        </div>
        <div class="col md4">
            <div class="card" style="width: 18rem;">
                <img src="https://source.unsplash.com/500x300/?javascript" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">OUR REACH</h5>
                    <p class="card-text">Virtual Employee (P) Ltd offers rich employment opportunities to
                        professionals from a wide spectrum of domains including software programming and
                        development, healthcare, design, finance and accounting, engineering, law, sales and
                        internet marketing, to back end fields such as data entry, virtual assistance, bookkeeping
                        and transcription etc. to work for businesses across the globe.We added two more offices in
                        sector-63, NOIDA and Gurgaon in 2014.</p>
                    <a href="/blog" class="btn btn-primary">See Blog</a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-3">
    <!--
    <div class="embed-responsive embed-responsive-421by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=BjP-kftAl9Q">

        </iframe>
    </div>
    -->
</div>

{%endblock body%}